body {
    margin: 0px;
    overflow: hidden;
}

#toolbar {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 30px;
    line-height: 30px;
    background-color: #EEE;
    display: flex;
    flex-direction: row;
    right: 0px;
}

#toolbar .button {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

#toolbar .button:hover {
    text-decoration: underline;
}

#canvas {
    position: absolute;
    left: 0px;
    top: 30px;
    right: 0px;
    bottom: 30px;
    border: 0px solid #333;
}

#info {
    position: absolute;
    left: 0px;
    height: 30px;
    line-height: 30px;
    bottom: 0px;
    width: 100%;
    background-color: #EEE;
    display: flex;  
}

#info-details {
    flex-grow: 2;
}

#github-logo img {
    height: 20px;
    padding: 5px;
}

#canvas:focus-visible {
    outline: none;
}

#controls {
    top: 30px;
    margin: 0px;
    width: 200px;
    border: 1px solid #EEE;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #9ea3a8c0;
    left: calc(100vw - 204px);
}

#controls .controls-button {
    padding: 5px;
    background-color: #DDD;
    border-radius: 5px;
    border: 1px solid #333;
    width: 120px;
    text-align: center;
    cursor: pointer;
    margin: 10px; 
}

#controls .controls-button:hover {
    background-color: #EEE;
}

#panels {
    display: none;
}

li {
    padding: 6px 0px;
}


.key {
    border: 1px solid #EEE;
    background-color: #DDD;
    padding: 4px;
    border-radius: 5px;
}

#hidden-input {
    position: absolute;
    left: -9999px;
    top: -9999px;
    /* display: none; */
}

.color {
    width: 20px;
}

#close-instructions-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.spacer {
    flex-grow: 2;
}

.solver-row {
    padding-bottom: 20px
}